:root {
    --body-bg: linear-gradient(135deg, #181f70 0%, #4b1469 100%);
    --msger-bg: #fff;
    --border: 2px solid #563c6b;
    --left-msg-bg: rgba(101, 47, 131, 0.62);
    --right-msg-bg: rgba(29, 70, 124, 0.62);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: rgb(86, 60, 107);
    color: #000000;
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd no-repeat center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 350px;
    padding: 15px;
    border-radius: 15px;
}

.left-msg .msg-bubble {
    background: var(--left-msg-bg);
    color: black;
    border-bottom-left-radius: 0;
}
.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #563c6b;
}

.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.msger-input {
    flex: 1;
    background: rgba(221, 221, 221, 0.7);
}

.msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: rgb(0, 180, 50);
}

.msger-chat {
    background: #fcfcfe url("bg-chatbot.png");
}
